/* CSS */
:root {
    --url_name: url("../assets/1x/xr_holder.png");
}

#navbar {
    position: -webkit-sticky;
    
    position: sticky;
    top: 0;
    z-index: 2;
}

#ed_landing {
    align-content: center;
    text-align: center;
    width: 100vw;
}

.jumbotron {
    margin-bottom: 0px;
}

.a:link a {
    color: #ffffff;
}

.a:visited {
    color: #ac162c;
}

.a:hover {
    color: #ffffff;
    opacity: .8;
}

.btn {
    background-color: #ac162c;
    border: none;
}

/* Eric Edits */
#xray_app,
#article_window {
    height: calc(100vh - 50px) !important;
}

#xray_app .row,
#article_window .row {
    height: 100%;
}

#xray_app #form_xr {
    overflow-y: scroll !important;
    height: 100%;
}

/* Eric Edits*/


#j_contain {
    /*padding: 5px;*/
    align-content: center;
    max-width: 50vw;
    
}

#xr_contain {
    text-align: center;
}

#xr_select {
    display: inline-block;


}

#xr_drop {
    background: #ac162c;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin: 5px;

}

#jumbo_xr{
    background-image: var(--url_name);
    background-size: cover;
    background-repeat: no-repeat;
    height:750px;
}

#j_content {
    text-align: center;
}

#xr_start {}


#x_id {
    padding-top: 500px;
}

#form_xr {
    padding: 5px;
    overflow-y: auto;
    max-width: 50vw;

}

#submit_b {
    display: inline-block;


}

.button {
    display: flex;
    background-color: #ac162c;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 10px 24px;
    border-radius: 8px;
}

#a_content {
    text-align: center;
}

/*Article View styling*/

#article_window {
    align-content: center;
    text-align: center;
}
#art_content {
    width: 100vw;
}

#art_select {
    
}
.iframe {
    overflow-y:scroll !important;
}

#art_drop {
    background: #ac162c;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
}

#pdf_view {
    overflow-y: scroll;
    height: calc(100vh - 138px);
}
